.map{
    display: grid;
    grid-template-columns: 75vw 25vw;
    grid-template-rows: 90vh;
}

.draw-app{
    top: 65px;
    left: .5em;
}

.ol-touch .draw-app {
    top: 80px;
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

 /* popup style */
 .ol-popup {
    max-width:300px;
    min-width:100px;
    min-height:1em;
  }